@import "global";

header.header {
  @header-height: 150px;
  height: @header-height;
  background: url("../image/9.jpg");
  margin: 0 auto;
  .logo {
    height: @header-height;
    float: left;
  }
  .head {
    margin: 0 auto;
    width: @content-width;
    h2 {
      display: inline-block;
      float: right;
    }
  }
}