header.header {
  height: 150px;
  background: url("../image/9.jpg");
}
header.header .logo {
  height: 150px;
  float: left;
}
header.header .head {
  margin: 0 auto;
  width: 80%;
}
header.header .head h2 {
  display: inline-block;
  float: right;
}
.some-act {
  float: right;
  margin-top: 7px;
}
.some-act li {
  float: left;
}
.some-act a {
  color: #F8F6F6;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  width: 85px;
  text-align: center;
}
.some-act a:hover {
  opacity: 0.6;
}
