header.header {
  height: 250px;
  background: #3e50b4;
  margin: 0 auto;
}
header.header .logo {
  height: 250px;
  float: left;
}
header.header .head {
  margin: 0 auto;
  width: 80%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
header.header .head .message {
  font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
  color: #f0f0f0;
  margin: 0;
  text-align: center;
  font-style: oblique;
  font-weight: bold;
}
