* {
  margin: 0;
  padding: 0;
}

html {
  background-image: linear-gradient(rgb(236, 242, 244), rgb(132, 136, 136));
  background-repeat: no-repeat;
}

body {
  background-color: aliceblue;
}

ul {
  list-style-type: none;
}

.container {
  padding: 0;
}

.body-content {
  position: relative;
  min-height: 700px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}