* {
  margin: 0;
  padding: 0;
}
html {
  background-image: url('../image/bg1.jpg');
  background-repeat: no-repeat;
}
body {
  background-color: aliceblue;
}
ul {
  list-style-type: none;
}
.container {
  padding: 0;
}
.body-content {
  display: inline-block;
  min-height: 700px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
