@import "global";

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../image/bg1.jpg');
}

ul {
  list-style-type: none;
}

#gotop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  display: none;
  .icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #111;
  }
  &:hover {
    opacity: 0.76;
    box-shadow: 0px 5px 0px #000000;
    transform: rotateX(30deg) translateY(0);
    &:active {
      text-shadow: 0 0 4px #AD001D;
      box-shadow: 0 1px 0 #423847;
      transition: transform 0.05s, box-shadow 0.05s;
      transform: rotateX(30deg) translateY(4px);
    }
  }
}

.container {
  padding: 0;
}

#left {
  @left-width: 230px;
  width: @left-width;
  display: inline-block;
  float: left;
  background: rgba(52, 162, 198, 0.48);
  overflow: hidden;
  > p {
    text-align: center;
    height: 26px;
    background: #0F2799;
    font-size: 1.5vw;
    line-height: 24px;
    font-weight: bold;
    color: #ffffff;
  }
  > div img {
    height: 14px;
  }
  a {
    .a-text() {
      text-decoration: none;
      color: #4827EE;
      font-size: 1.3vw;
    }
    .a-text();
    &:visited {
      .a-text();
    }
    &:hover {
      color: #ff0000;
    }
  }
}

.body-content {
  min-height: 700px;
  padding: 10px 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
}

#content {
  @content-padding: 10px;
  //width: 100 - @left-width - @right-width;
  padding-left: @content-padding;
  padding-right: @content-padding;
  float: left;
}

.fbtn {
  @fbtn-size: 50px;
  background-color: #f5f5f5;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0,0,0,.15),0 1px 3px 1px rgba(0,0,0,.3);
  display: block;
  font-size: 20px;
  height: @fbtn-size;
  width: @fbtn-size;
  margin: 12px auto;
  padding: 10px 0;
  text-align: center;
  -webkit-transition: all .3s cubic-bezier(.4,0,.2,1);
  transition: all .3s cubic-bezier(.4,0,.2,1);
  -webkit-transition-property: background-color,box-shadow,opacity,-webkit-transform;
  transition-property: background-color,box-shadow,opacity,transform;
}

.normal-label {
  font-weight: normal;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.post {
  display: block;
  margin-bottom: 10px;
  border-radius: 4px;
  background: #f5f5f5;
  border: 2px solid #46D8D8;
  padding: 5px 5px;
  color: #000;
  div.thumbnail {
    display: inline-block;
    margin: 0;
    float: left;
  }
  &:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    color: inherit;
  }
  img {
    max-height: 100px;
    width: 80px;
    float: left;
  }
  #middle {
    display: inline-block;
    width: 450px;
    padding: 5px 10px;
    h4 {
      font-size: 13px;
      color: #337ab7;
      font-weight: bold;
    }
    p {
      font-size: 12px;
    }
  }
  #last {
    display: inline-block;
    position: relative;
    bottom: 13px;
    margin-right: 6px;
    padding: 0 9px;
    background: #F1EABA;
    font-size: 15px;
    p {
      color: #C75521;
      font-size: 13px;
      font-weight: bold;
      width: 42px;
    }
  }
}

.font-bold {
  font-weight: bold;
}

.search-main {
  position: relative;
  top: 6px;
  input {
    display: block;
    padding: 4px 8px 4px 50px;
    box-shadow: 0px 1px 1.5px rgba(0,0,0,0.06),0px 1px 1px rgba(0,0,0,0.12);
    width: 200px;
    background: rgba(2, 136, 209, 0.09);;
    height: 30px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    font-size: 16px;
    font-weight: 300;
    outline: none;
    border-radius: 3px;
    @placeholder-color: #ffffff;
    &::-webkit-input-placeholder {
      color: @placeholder-color;
    }
    &:-moz-placeholder {
      color: @placeholder-color;
    }
    &:focus {
      background: #f1f1e3;
      @placeholder-focus-color: #333333;
      &::-webkit-input-placeholder {
        color: @placeholder-focus-color;
      }
      &:-moz-placeholder {
        color: @placeholder-focus-color;
      }
      & + .glyphicon {
        color: @placeholder-focus-color;
      }
    }
  }
  .glyphicon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #ffffff;
  }
}

.list-header {
  background: #27AE60;
  margin-bottom: 10px;
  padding: 5px 10px;
  .glyphicon {
    color: #ffffff;
    font-size: 23px;
  }
}

.clear-row {
  clear: both;
}