.submit {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.stage-1 {
  width: 30%;
  display: inline-block;
}
.stage-2 {
  width: 50%;
  display: inline-block;
}
