@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
nav {
  background: #3a5795;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
}
.cssmenu {
  width: 90%;
  margin: 0 auto;
}
.cssmenu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
.cssmenu > ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.cssmenu > ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
  float: left;
}
.cssmenu > ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
.cssmenu > ul li a:hover {
  color: #333333;
}
.cssmenu > ul li a:hover:before {
  width: 100%;
}
.cssmenu > ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
.cssmenu > ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
@media screen and (max-width: 768px) {
  .cssmenu > ul li a:before {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .cssmenu > ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
}
.cssmenu > ul li.active a {
  color: #ffffff;
}
.cssmenu > ul li.active a:before {
  width: 100%;
}
.cssmenu > ul li.drop-down-menu {
  position: relative;
  z-index: 100;
}
.cssmenu > ul li.drop-down-menu:after {
  content: '';
  position: absolute;
  bottom: 2px;
  right: 50%;
  transform: translateX(50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ffffff;
}
.cssmenu > ul li.drop-down-menu > ul {
  position: absolute;
  background: #3a5795;
  max-height: 0;
  overflow: hidden;
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
  -webkit-transform-origin: 50% 0;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
}
.cssmenu > ul li.drop-down-menu > ul li {
  clear: both;
}
@media screen and (max-width: 768px) {
  .cssmenu > ul li {
    float: none;
    display: block;
  }
}
.cssmenu.align-right ul li {
  float: right;
}
.cssmenu.align-center ul {
  text-align: center;
}
.cssmenu.align-right li.last > a:after,
.cssmenu.align-right li:last-child > a:after {
  display: block;
}
.cssmenu.align-right li:first-child a:after {
  display: none;
}
.task {
  position: relative;
  z-index: 100;
}
.task:after {
  display: none;
}
.task ul {
  top: 0;
  right: 100%;
  position: absolute;
  background: #3a5795;
  max-height: 1000px;
  overflow: hidden;
  max-width: 0;
  -webkit-transition: max-width 350ms ease-out;
  -moz-transition: max-width 350ms ease-out;
  -o-transition: max-width 350ms ease-out;
  transition: max-width 350ms ease-out;
}
.task ul li {
  clear: both;
  width: 125px;
}
.open-task {
  max-width: 300px !important;
}
.open-ul {
  max-height: 1000px !important;
  -webkit-transform: perspective(400px) rotate3d(0, 0, 0, 0deg) !important;
}
.more-options {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1000;
  max-height: 0;
  text-align: left;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-transition: max-height 0.35s ease;
  -moz-transition: max-height 0.35s ease;
  -ms-transition: max-height 0.35s ease;
  -o-transition: max-height 0.35s ease;
  transition: max-height 0.35s ease;
  overflow: hidden;
}
.more-options li {
  max-height: 0;
  overflow: hidden;
}
.more-options a {
  color: #000000 !important;
  font-size: 10px !important;
  min-width: 107px;
}
.more-options a:hover {
  color: #999 !important;
}
.more-options:before {
  content: '';
  position: absolute;
  bottom: 100%;
  right: 9px;
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.open-more-options {
  max-height: 1000px;
  overflow: visible;
}
.open-more-options li {
  max-height: 100px;
  overflow: visible;
}
