#content {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 9.5px;
  border-radius: 4px;
  width: 70%;
}
fieldset {
  margin: 0 auto;
  font-family: sans-serif;
  background: #fff;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 750px;
}
fieldset legend {
  background: #1F497D;
  color: #fff;
  padding: 5px 10px ;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0 0 0 5px #ddd;
}
.contact {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
}
.contact p {
  margin-bottom: 8px;
  font-size: 17px;
}
.contact p strong {
  display: inline-block;
  width: 35%;
  text-align: right;
  margin-right: 20px;
}
.title {
  background: none;
  color: #66BB6A;
  text-align: center;
  font-weight: bold;
}
.detail-content {
  width: 80%;
  margin: 0 auto;
  padding-left: 5px;
}
.detail-title {
  margin-top: 20px;
  font-size: 23px;
  color: #1b809e;
}
.detail {
  text-align: justify;
  font-size: 15px;
}
.gallery {
  margin-top: 50px;
}
.gallery .item {
  height: 300px;
}
.gallery .item img {
  height: 100% !important;
  margin: 0 auto;
  max-width: 480px !important;
}
.gallery .carousel {
  display: inline-block;
  min-width: 480px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 900px) {
  .gallery .carousel {
    min-width: 100%;
  }
}
.gallery .carousel-inner {
  margin: 0 auto;
}
.gallery .carousel-control {
  width: 40px;
  height: 40px;
}
.gallery .carousel-control.left,
.gallery .carousel-control.right {
  top: 50%;
  background-image: none;
}
.gallery .carousel-control.left {
  transform: translateX(-100%);
}
@media screen and (max-width: 600px) {
  .gallery .carousel-control.left {
    transform: translateX(0);
  }
}
.gallery .carousel-control.right {
  transform: translateX(100%);
}
@media screen and (max-width: 600px) {
  .gallery .carousel-control.right {
    transform: translateX(0);
  }
}
.glyphicon.size40 {
  font-size: 40px;
  color: #000000;
}
.paging a {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px;
  color: #dd4814;
  text-decoration: none;
  font-size: 18px;
}
.paging a:hover {
  background-color: #eeeeee;
}
@media screen and (max-width: 900px) {
  #content {
    width: 90%;
  }
}
@media screen and (max-width: 700px) {
  fieldset {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  #content {
    width: 100%;
  }
}
