#content {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 9.5px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 70%;
}
fieldset {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}
fieldset legend {
  color: #ff0a61;
  text-align: center;
}
fieldset p strong,
fieldset p span {
  float: left;
}
.contact {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
}
.contact p {
  margin-bottom: 8px;
  font-size: 18px;
}
.contact p strong {
  display: inline-block;
  width: 35%;
  text-align: right;
  margin-right: 20px;
}
.item {
  height: 300px;
}
.item img {
  height: 100% !important;
  margin: 0 auto;
}
.title {
  background: none;
  color: #66BB6A;
  text-align: center;
  font-weight: bold;
}
.detail-content {
  width: 80%;
  margin: 0 auto;
  border-left: 5px solid #1b809e;
  padding-left: 5px;
}
.detail-title {
  margin-top: 20px;
  font-size: 23px;
  color: #1b809e;
}
.detail {
  text-align: justify;
  font-size: 15px;
}
.gallery {
  margin-top: 50px;
}
.carousel {
  display: inline-block;
  min-width: 480px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 900px) {
  .carousel {
    min-width: 100%;
  }
}
.carousel-inner {
  margin: 0 auto;
}
.carousel-control {
  width: 40px;
  height: 40px;
}
.carousel-control.left,
.carousel-control.right {
  top: 50%;
  background-image: none;
}
.carousel-control.left {
  transform: translateX(-100%);
}
@media screen and (max-width: 600px) {
  .carousel-control.left {
    transform: translateX(0);
  }
}
.carousel-control.right {
  transform: translateX(100%);
}
@media screen and (max-width: 600px) {
  .carousel-control.right {
    transform: translateX(0);
  }
}
.glyphicon.size40 {
  font-size: 40px;
  color: #000000;
}
@media screen and (max-width: 900px) {
  #content {
    width: 90%;
  }
}
@media screen and (max-width: 700px) {
  fieldset {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  #content {
    width: 100%;
  }
}
