.dt {
  text-align: center;
  color: #01579B;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}
fieldset {
  margin: 0 auto;
  font-family: sans-serif;
  background: #fff;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 750px;
}
fieldset legend {
  background: #1F497D;
  color: #fff;
  padding: 5px 10px ;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0 0 0 5px #ddd;
}
#upload-file {
  display: none;
}
.upload-file {
  cursor: pointer;
  font-size: 20px;
  border: 1px solid #ccc;
  padding: 6px 5px;
  display: inline-block;
  float: left;
  margin-right: 5px;
}
.upload-file img {
  width: 18px;
}
.warning {
  color: red;
  font-size: 10px;
  margin: 4px !important;
  width: 300px;
  display: inline-block;
}
#preview img {
  width: 100px;
  height: 100px;
}
.btn.btn-flat {
  background: none;
  box-shadow: none;
  font-weight: bold;
}
.btn.btn-flat:not(.btn-link),
.btn-default.btn-flat:not(.btn-link) {
  color: rgba(0, 0, 0, 0.84);
}
button.dtp-btn-cancel:hover,
button.dtp-btn-ok:hover {
  background: rgba(0, 0, 0, 0.2);
}
input.checkbox-primary {
  position: absolute;
  left: 0;
  display: none;
}
.label-checkbox-primary {
  margin-left: 25px;
  cursor: pointer;
  font-weight: normal;
}
.label-checkbox-primary.bigger:before {
  width: 30px;
  height: 30px;
  top: -5px;
}
input.checkbox-primary:checked + .label-checkbox-primary.bigger:before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.label-checkbox-primary.bigger:after {
  font-size: 20px;
  padding-left: 5px;
  top: -5px;
}
.label-checkbox-primary:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
input.checkbox-primary:checked + .label-checkbox-primary:before {
  background-color: #428bca;
  border-color: #428bca;
}
.label-checkbox-primary:after {
  display: inline-block;
  position: absolute;
  left: 0;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 13px;
  color: #555555;
}
input.checkbox-primary:checked + .label-checkbox-primary:after {
  font-family: 'FontAwesome';
  content: "\f00c";
  color: #fff;
}
.after-checkbox {
  margin-left: 20px;
}
.row {
  margin: 0;
  position: relative;
}
.radio {
  display: inline-block;
  padding-right: 20px;
  font-size: 15px;
  line-height: 49px;
  cursor: pointer;
  font-weight: normal;
}
.radio:hover .inner {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: .5;
}
.radio input {
  width: 1px;
  height: 1px;
  opacity: 0;
}
.radio input:checked + .outer {
  border: 3px solid #009688;
}
.radio input:checked + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.radio input:focus + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  background-color: #009688;
}
.radio .outer {
  width: 26px;
  height: 26px;
  display: block;
  float: left;
  margin: 10px 9px 10px 10px;
  border: 3px solid #009688;
  border-radius: 50%;
  background-color: #fff;
}
.radio .inner {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 16px;
  height: 16px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  display: block;
  margin: 2px;
  border-radius: 50%;
  background-color: #009688;
  opacity: 0;
}
