.home a {
  background: none !important;
  display: inline !important;
}
.home img {
  width: 30px;
}
.error {
  color: red;
  font-size: 13px;
  position: absolute;
}
.errorSub {
  display: none;
}
#priceEx {
  width: 55%;
  margin-left: 145px;
  margin-top: 5px;
  display: none;
}
#priceEx label {
  display: block;
}
