@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@import "footer.css";
* {
  margin: 0;
  padding: 0;
}
html {
  background-image: url('../image/bg.png') !important;
}
ul {
  list-style-type: none;
}
#gotop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  display: none;
}
#gotop .x-icon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #111;
}
#gotop:hover {
  opacity: 0.76;
  box-shadow: 0px 5px 0px #000000;
  transform: rotateX(30deg) translateY(0);
}
#gotop:hover:active {
  text-shadow: 0 0 4px #AD001D;
  box-shadow: 0 1px 0 #423847;
  transition: transform 0.05s, box-shadow 0.05s;
  transform: rotateX(30deg) translateY(4px);
}
.container {
  padding: 0;
}
#left {
  display: inline-block;
  float: left;
  width: 230px;
}
#left.post-left {
  background-color: #DDDDDD;
}
#left.ads {
  width: 250px;
}
#left.left {
  background: rgba(52, 162, 198, 0.48);
  overflow: hidden;
}
#left.left > p {
  text-align: center;
  height: 26px;
  background: #0F2799;
  font-size: 1.5vw;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
}
#left.left > div img {
  height: 14px;
}
#left.left a:hover {
  color: #ff0000;
}
#right {
  width: 300px;
  float: right;
  background: #DDDDDD;
}
#right .bootstrap-select {
  display: block;
  width: auto;
}
#right .btn-group > .btn:first-child {
  margin-bottom: 4px;
}
#right input[type='submit']:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
#right .panel-heading {
  background-color: #3a5795;
  border-color: #3a5795;
}
.body-content {
  display: inline-block;
  width: 100%;
  min-height: 700px;
  padding: 10px 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
}
#content {
  padding-left: 10px;
  padding-right: 10px;
}
.fbtn {
  background-color: #f5f5f5;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  display: block;
  font-size: 20px;
  height: 50px;
  width: 50px;
  margin: 12px auto;
  padding: 10px 0;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color, box-shadow, opacity, -webkit-transform;
  transition-property: background-color, box-shadow, opacity, transform;
}
.normal-label {
  font-weight: normal;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.post {
  display: block;
  margin-bottom: 10px;
  border-radius: 4px;
  background: #f5f5f5;
  border: 2px solid #46D8D8;
  padding: 5px 5px;
  color: #000;
}
.post.ads {
  border-color: #337ab7;
}
.post.ads #middle p {
  margin-bottom: 5px;
}
.post div.thumbnail {
  display: inline-block;
  margin: 0;
  float: left;
}
.post:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: inherit;
}
.post img {
  max-height: 100px;
  width: 80px;
  float: left;
}
.post #middle {
  display: inline-block;
  width: 470px;
  padding: 5px 10px;
}
.post #middle h4 {
  font-size: 13px;
  color: #337ab7;
  font-weight: bold;
}
.post #middle p {
  font-size: 12px;
}
.post #last {
  display: inline-block;
  position: relative;
  bottom: 13px;
  margin-right: 6px;
  padding: 0 9px;
  background: #F1EABA;
  font-size: 15px;
}
.post #last p {
  color: #C75521;
  font-size: 13px;
  font-weight: bold;
  width: 42px;
}
.font-bold {
  font-weight: bold;
}
.search-main {
  position: relative;
  top: 6px;
}
.search-main input {
  display: block;
  padding: 4px 8px 4px 50px;
  box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  width: 200px;
  background: rgba(2, 136, 209, 0.09);
  height: 30px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  border: none;
  font-size: 16px;
  font-weight: 300;
  outline: none;
  border-radius: 3px;
}
.search-main input::-webkit-input-placeholder {
  color: #ffffff;
}
.search-main input:-moz-placeholder {
  color: #ffffff;
}
.search-main input:focus {
  background: #f1f1e3;
}
.search-main input:focus::-webkit-input-placeholder {
  color: #333333;
}
.search-main input:focus:-moz-placeholder {
  color: #333333;
}
.search-main input:focus + .glyphicon {
  color: #333333;
}
.search-main .glyphicon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #ffffff;
}
.list-header {
  background: #46D8D8;
  margin-bottom: 10px;
  padding: 10px 15px;
}
.list-header.market-header {
  background: #337ab7;
}
.list-header.market-header .glyphicon {
  display: none;
}
.list-header .glyphicon {
  color: #ffffff;
  font-size: 23px;
}
.list-header .sort {
  display: inline-block;
  margin: 0;
  position: relative;
}
.clear,
.clear-row {
  clear: both;
}
.href-none-after a:after {
  display: none !important;
}
.href-none-before a:before {
  display: none !important;
}
.avatar-icon a {
  padding: 5px 10px !important;
}
.avatar-icon img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.main-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.panel {
  margin-bottom: 5px;
}
.clickable {
  cursor: pointer;
}
.panel-heading span {
  margin-top: -20px;
  font-size: 15px;
}
.panel-body {
  display: none;
}
.panel-body input[type="checkbox"] {
  float: left;
}
.panel-search {
  padding: 15px;
}
.search-title {
  text-align: center;
  font-size: 20px;
}
.search {
  width: 90%;
  margin: 0 auto;
}
.search #search {
  text-align: center;
  margin-bottom: 10px;
}
.search-select {
  width: 90%;
  height: 20px;
  margin-bottom: 5px;
}
.search-btn {
  width: 80px;
  height: 30px;
  text-align: center;
  color: #ffffff;
  background: #0F2799;
  border-radius: 10px;
}
nav {
  background: #3a5795;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
}
.cssmenu {
  width: 90%;
  margin: 0 auto;
}
.cssmenu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
.cssmenu > ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.cssmenu > ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
  float: left;
}
.cssmenu > ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
.cssmenu > ul li a:hover {
  color: #333333;
}
.cssmenu > ul li a:hover:before {
  width: 100%;
}
.cssmenu > ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
.cssmenu > ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
@media screen and (max-width: 768px) {
  .cssmenu > ul li a:before {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .cssmenu > ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
}
.cssmenu > ul li.active a {
  color: #ffffff;
}
.cssmenu > ul li.active a:before {
  width: 100%;
}
.cssmenu > ul li.drop-down-menu {
  position: relative;
  z-index: 100;
}
.cssmenu > ul li.drop-down-menu:after {
  content: '';
  position: absolute;
  bottom: 2px;
  right: 50%;
  transform: translateX(50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ffffff;
}
.cssmenu > ul li.drop-down-menu > ul {
  position: absolute;
  background: #3a5795;
  max-height: 0;
  overflow: hidden;
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
  -webkit-transform-origin: 50% 0;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
}
.cssmenu > ul li.drop-down-menu > ul li {
  clear: both;
}
@media screen and (max-width: 768px) {
  .cssmenu > ul li {
    float: none;
    display: block;
  }
}
.cssmenu.align-right ul li {
  float: right;
}
.cssmenu.align-center ul {
  text-align: center;
}
.cssmenu.align-right li.last > a:after,
.cssmenu.align-right li:last-child > a:after {
  display: block;
}
.cssmenu.align-right li:first-child a:after {
  display: none;
}
.task {
  position: relative;
  z-index: 100;
}
.task:after {
  display: none;
}
.task ul {
  top: 0;
  right: 100%;
  position: absolute;
  background: #3a5795;
  max-height: 1000px;
  overflow: hidden;
  max-width: 0;
  -webkit-transition: max-width 350ms ease-out;
  -moz-transition: max-width 350ms ease-out;
  -o-transition: max-width 350ms ease-out;
  transition: max-width 350ms ease-out;
}
.task ul li {
  clear: both;
  width: 125px;
}
.open-task {
  max-width: 300px !important;
}
.open-ul {
  max-height: 1000px !important;
  -webkit-transform: perspective(400px) rotate3d(0, 0, 0, 0deg) !important;
}
.more-options {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1000;
  max-height: 0;
  text-align: left;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-transition: max-height 0.35s ease;
  -moz-transition: max-height 0.35s ease;
  -ms-transition: max-height 0.35s ease;
  -o-transition: max-height 0.35s ease;
  transition: max-height 0.35s ease;
  overflow: hidden;
}
.more-options li {
  max-height: 0;
  overflow: hidden;
}
.more-options a {
  color: #000000 !important;
  font-size: 10px !important;
  min-width: 107px;
}
.more-options a:hover {
  color: #999 !important;
}
.more-options:before {
  content: '';
  position: absolute;
  bottom: 100%;
  right: 9px;
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.more-options.open-more-options {
  max-height: 1000px;
  overflow: visible;
}
.more-options.open-more-options li {
  max-height: 100px;
  overflow: visible;
}
header.header {
  margin: 0 auto;
  /* jssor slider bullet navigator skin 05 css */
  /*
  .jssorb05 div           (normal)
  .jssorb05 div:hover     (normal mouseover)
  .jssorb05 .av           (active)
  .jssorb05 .av:hover     (active mouseover)
  .jssorb05 .dn           (mousedown)
  */
  /* jssor slider arrow navigator skin 22 css */
  /*
  .jssora22l                  (normal)
  .jssora22r                  (normal)
  .jssora22l:hover            (normal mouseover)
  .jssora22r:hover            (normal mouseover)
  .jssora22l.jssora22ldn      (mousedown)
  .jssora22r.jssora22rdn      (mousedown)
  */
}
header.header .head {
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
header.header .head .message {
  font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
  color: #f0f0f0;
  margin: 0;
  text-align: center;
  font-style: oblique;
  font-weight: bold;
}
header.header .left {
  background: #323232 url("../image/slider_icon_l.png") no-repeat scroll 50% 50%;
  position: absolute;
  top: 50%;
  opacity: 0;
  transform: translateY(-50%);
  left: 20px;
}
header.header .left:hover {
  opacity: 1 !important;
}
header.header .right {
  background: #323232 url("../image/slider_icon_r.png") no-repeat scroll 50% 50%;
  position: absolute;
  top: 50%;
  opacity: 0;
  transform: translateY(-50%);
  right: 20px;
}
header.header .right:hover {
  opacity: 1 !important;
}
header.header:hover .left,
header.header:hover .right {
  opacity: 0.5;
}
header.header .jssorb05 {
  position: absolute;
}
header.header .jssorb05 div,
header.header .jssorb05 .av {
  position: absolute;
  /* size of bullet elment */
  width: 16px;
  height: 16px;
  background: url('../image/b05.png') no-repeat;
  overflow: hidden;
  cursor: pointer;
  background-position: -7px -7px;
}
header.header .jssorb05 div:hover,
header.header .jssorb05 .av:hover {
  background-position: -37px -7px;
}
header.header .jssorb05 .av {
  background-position: -67px -7px;
}
header.header .jssorb05 .dn {
  background-position: -97px -7px;
}
header.header .jssora22l,
header.header .jssora22r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 40px;
  height: 58px;
  cursor: pointer;
  background: url('../image/a22.png') center center no-repeat;
  overflow: hidden;
  background-position: -10px -31px;
}
header.header .jssora22l:hover {
  background-position: -130px -31px;
}
header.header .jssora22l.jssora22ldn {
  background-position: -250px -31px;
}
header.header .jssora22r {
  background-position: -70px -31px;
}
header.header .jssora22r:hover {
  background-position: -190px -31px;
}
header.header .jssora22r.jssora22rdn {
  background-position: -310px -31px;
}
.contact_info {
  background: rgba(0, 0, 0, 0) url("../image/contact_info_bg.jpg") no-repeat;
  color: #fff;
  font-family: Open Sans;
  height: auto;
  overflow: hidden;
}
.contact_text {
  margin-top: 75px;
  text-align: center;
  float: left;
  width: 50%;
}
.contact_text h2 {
  font-size: 60px;
  font-weight: 300;
}
.contact_text p {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.contact_text p:before,
.contact_text p:after {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 1px;
  left: 139px;
  position: absolute;
  top: 168px;
  width: 80px;
}
.contact_text p:after {
  left: 375px;
}
/* 27.1 Contact Page contact_social_media */
.contact_social_media {
  margin-top: 30px;
  width: 50%;
  float: left;
}
.contact_social_media ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact_social_media ul li {
  margin-bottom: 20px;
}
.social_text {
  font-size: 16px;
  font-style: italic;
  margin-left: 10px;
}
.contact_icon i {
  border: 1px solid #fff;
  font-size: 20px;
  height: 50px;
  padding-top: 12px;
  text-align: center;
  width: 50px;
}
/* 27.2 Contact Page map_comment_area */
.map_comment_area {
  margin: 50px 0;
  padding: 0 10px;
}
.contact_us .heading_comments {
  border-bottom: 1px solid #e5e5e5;
  color: #3c3c3c;
  font-family: Open Sans;
  font-size: 26px;
  font-weight: 300;
  padding: 0 0 10px;
  margin: 0;
}
.comment_form {
  margin: 45px 0;
  margin-bottom: 0;
}
.comment_form input {
  border: 1px solid #ddd;
  padding: 10px;
  width: 75%;
}
.comment_form input[type="text"] {
  margin-left: 45px;
}
.comment_form input[type="email"] {
  margin-left: 27px;
}
.comment_form label {
  color: #4c4c4c;
  display: inline-block;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 700;
}
.comment_form textarea {
  border: 1px solid #ddd;
  padding: 15px;
  width: 100%;
  font-family: Open Sans;
  font-size: 13px;
  color: #828282;
}
.comment_form input[type="submit"] {
  background: #00aff0 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-family: Open Sans;
  font-size: 13px;
  padding: 15px 35px;
  transition: all 0.4s ease 0s;
}
.comment_form input[type="submit"]:hover {
  background: #0a97cc;
}
.error {
  color: red;
  font-size: 13px;
  position: absolute;
}
#priceEx {
  width: 55%;
  margin-left: 145px;
  margin-top: 5px;
  display: none;
}
#priceEx label {
  display: block;
}
#preview img {
  width: 100px;
  height: 100px;
}
.side-bar {
  border: 1px solid #ddd;
  background: #ccc;
}
.side-bar h2 {
  border-bottom: 1px solid #ddd;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 20px 10px;
}
.side-bar h2 i {
  background: none repeat scroll 0 0 #337ab7;
  color: #fff;
  float: left;
  height: 40px;
  margin-right: 25px;
  margin-top: -9px;
  padding-top: 10px;
  text-align: center;
  width: 40px;
}
.side-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.side-bar ul li {
  border-bottom: 1px solid #ddd;
  position: relative;
}
.side-bar ul li a {
  color: #4f4d4d;
  display: block;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  text-decoration: none;
  transition: all 0.4s ease 0s;
}
.side-bar ul li a:hover {
  background: #2A3139;
  color: #fff;
}
.side-bar ul li a span {
  border-right: 1px solid #ddd;
  display: inline-block;
  height: 60px;
  margin-right: 15px;
  text-align: center;
  width: 55px;
}
.side-bar ul li a span i {
  font-size: 20px;
  margin-top: 18px;
}
.side-bar ul li a span.right-icon {
  border-right: 0 none;
  float: right;
  margin-right: -5px;
}
.side-bar ul li:hover .category-mega-menu {
  opacity: 1;
  left: 100%;
  z-index: 99999;
}
.side-bar ul li .category-mega-menu {
  background: none repeat scroll 0 0 #2a3139;
  display: block;
  left: 150%;
  opacity: 0;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  transition: all 0.4s ease 0s;
  width: 400px;
  z-index: -99;
}
.side-bar ul li .category-mega-menu span {
  float: left;
  padding: 10px 0 10px 10px;
  width: 100%;
}
.side-bar ul li .category-mega-menu span img {
  width: 100%;
}
.side-bar ul li .category-mega-menu a {
  border-bottom: 1px solid #40464d;
  color: #fff;
  display: block;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 300;
  padding: 10px 9px;
}
.side-bar ul li .category-mega-menu a:hover {
  padding-left: 15px;
}
.menu-text {
  padding: 12px 25px 20px 9px !important;
}
