@import "global";

.home {
  a {
    background: none !important;
    display: inline !important;
  }
  img {
    width: 30px;
  }
}


.error {
  color: red;
  font-size: 13px;position: absolute;
}
.errorSub {
  display: none;
}

.sort {
  background: #4664C1;
  position: relative;
  div {
    display: inline-block;
    position: absolute;
    right: 85px;
  }
  span {
    color: white;
    font-weight: bold;
    display: inline-block;
    line-height: 27px;
  }
}


#priceEx {
  width: 55%;
  margin-left: 145px;
  margin-top: 5px;
  display: none;
  label {
    display: block;
  }
}