@import "global";

.home {
  a {
    background: none !important;
    display: inline !important;
  }
  img {
    width: 30px;
  }
}


.tooltip {
  position: absolute;
  left: 278px;
  top: 0;
  border: 0 none;
  margin-left: 2px;
  display: none;
  z-index: 100;
}

.tooltip_content {
  border: solid 1px #6698ff;
  border-radius: 3px 3px 3px 3px;
  display: inline-block;
  background: #6698ff;
  padding: 7px 10px;
  margin: 0 0 0 18px;
  color: white;
  font-size: 13px;
}


.error {
  color: red;
  font-size: 13px;position: absolute;
}
.errorSub {
  display: none;
}

#preview {
  img {
    width: 100px;
    height: 100px;
  }
}

.sort {
  background: #4664C1;
  position: relative;
  div {
    display: inline-block;
    position: absolute;
    right: 85px;
  }
  span {
    color: white;
    font-weight: bold;
    display: inline-block;
    line-height: 27px;
  }
}


#priceEx {
  width: 55%;
  margin-left: 145px;
  margin-top: 5px;
  display: none;
  label {
    display: block;
  }
}

.bgcontent {
  background-color: rgb(215, 223, 221);
  padding: 7px;
}

.warning {
  color: red;
  font-size: 10px;
  margin: 4px !important;
  width: 300px;
  display: inline-block;
}

.tienich {
  margin-top: 20px;
  font-size: 23px;
  color: #1A22E6;
  + ul {
    list-style-type: circle;
    margin-left: 30px;
  }
}